.skills {
    flex-grow: 1;
    background-color: #121F45;
    padding: 5%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .skills h1 {
    margin-bottom: 20px;
  }
  
  .content {
    display: grid;
    font-size: 24px;
    grid-template-columns: 1fr;
  }

  .content span{
    min-height: 1em;
    font-size: 70px;
    white-space:nowrap;
  }
  
  .content div {
    margin-bottom: 25px;
  }
  
  .content strong {
    line-height: 25px;
    padding-bottom: 15px;
    display: block;
  }
  
  .content li {
    margin: 0;
    margin-bottom: 10px;
  }
  
  @media (min-width: 800px) {
    .content {
      grid-template-columns: 1fr;
    }

    .content span{
      white-space:nowrap;
    }
  }
