/* footer a img {
    width: 100px;
    height: 100px;
} */

footer {
    width: 100%;
    padding: 10px 0;
    justify-content: center;
    text-align: center;
    background-color: #FFCC00;
  }
  
  footer img {
    max-width: 50px;

  }

  footer a {
    justify-content: space-between;
  }
  
  footer img:not(:last-child) {
    margin-right: 10px;
  }