.app {
  display: flex;
  margin: auto;
  max-width: 1800px;
  padding: 0 15px;
  min-height:100vh ;
  border-radius: 10px;
  flex-direction: column;
  background-color: #0F2D5B
}

@media(min-width:800px){
  .app{
    padding: 0 20px;
    margin-top: 5vh;
    min-height: 90vh;  
    background-color: #0F2D5B
  }
}